<launch>
<arg name="model" default="$(find lab_4)/urdf/dynamicmodel.urdf.xacro"/>
<arg name="gui" default="true" />
<arg name="rvizconfig" default="$(find lab_4)/rviz/urdf.rviz" />
<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
<param name="use_gui" value="$(arg gui)"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
<node pkg="rostopic" type="rostopic" name="rostopic" args="pub joint_states sensor_msgs/JointState -- '[0, now, base_link]' '[base_link1, link1_link2, link2_link3]' '[-0.2,0.0,-0.6]' '[]' '[]'"/>
</launch>