<launch>

  <group ns="turtlesim">
    <node pkg="turtlesim" name="sim" type="turtlesim_node" >
    <param name="forward" value="q"/>
    <param name="backward" value="f"/>
    <param name="right" value="g"/>
    <param name="left" value="d"/>
    </node>
    
    <node pkg="turtle" name="control" type="talker.py"/>
    
  </group>



</launch>
